* {
  margin: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #6495ED;
}

#app {
  height: 100%;
}

.header {
  height: 50px;
  display: flex;
  justify-content: flex-end;
}

.tools {
  height: 50px;
  display: flex;
  align-items: center;
  padding-right: 10px;
}

.tools img{
  height: 36px;
}

.tools img:hover {
  animation: turn 0.5s;
}

.tools .tips {
  color: #fff;
}

@keyframes turn {
  0% { transform: none; }
  100% { transform: rotate(1turn); }
}

.tools > div {
  margin-left: 10px;
  cursor: pointer;
}

.main {
  margin-top: 25vh;
  display: flex;
  margin-left: 10vw;
  flex-direction: column;
}

.actions {
  width: 80vw;
  display: flex;
  justify-content: space-between;
}

.actions .tags {
  display: flex;
}

.tag {
  margin: 0 5px;
  color: #fff;
  border-radius: 10%;
  height: 20px;
  line-height: 20px;
  padding: 0 5px;
  cursor: pointer;
  background-color: rgba(140, 171, 226, 0.8);
}

.active-tag {
  margin: 0 5px;
  color: #000;
  border-radius: 10%;
  height: 20px;
  line-height: 20px;
  padding: 0 5px;
  cursor: pointer;
  background-color: #fff;
}

.tag:hover {
  background-color: rgba(140, 171, 226);
}

.actions .paths {
  display: flex;
  margin-bottom: 10px;
}

.actions .paths .path {
  color: #e0e0e0;
  font-size: 15px;
  cursor: pointer;
}

.bookmarks {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 80vw;
}

.bookmark {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  width: 20%;
  cursor: pointer;
  border-radius: 3px;
  margin-bottom: 20px;
}

.bookmarks .tags {
  display: flex;
  justify-content: flex-end;
}

.bookmark:hover {
  background-color: rgb(255, 255, 255, 0.3);
}

.bookmark .icon{
  height: 30px;
  min-width: 30px;
}

.bookmark .title {
  display: flex;
  flex: 1;
  margin: 0;
  line-height: 30px;
  font-size: 15px;
  padding-left: 5px;
  padding-right: 10px;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  color: #fff;
}

.search {
  margin-bottom: 30px;
}

.search input {
  outline-style: none ;
  border: none; 
  border-radius: 3px;
  padding: 8px 8px;
  width: 250px;
  font-size: 18px;
  font-weight: bold;
  color: transparent;
  text-shadow:0 0 0 #fff;
  background-color: #6495ED;
}

[tooltip]::after {
  content: attr(tooltip);
  z-index: 1;
  display: none;
  position: absolute;
  background-color: #2f2f2f;
  color: #dadada;
  top: 35px;
  padding: 0 10px;
  font-size: 14px;
  line-height: 30px;
  border-radius: 5px;
}

[tooltip]::before {
  content: '';
  z-index: 1;
  position: absolute;
  display: none;
  width:0;
  top: 20px;
  left: 12px;
  border-width:8px;
  border-style:solid;
  border-color:transparent transparent #2f2f2f transparent; /* transparent 设置边框颜色透明 */
}

[tooltip]:hover::after,[tooltip]:hover::before{
  display: block;
}