<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/main.css">
  <title>Fast Tab</title>
</head>

<body>
  <div id="app">
    <div class="header">
      <div class="tools">
        <div @click="goLink('chrome://bookmarks')">
          <img src="/image/manage.png" />
        </div>
        <div @click="goLink('https://github.com/Houserqu/fast-tab')">
          <img src="/image/github.png" />
        </div>
      </div>
    </div>
    <div class="main">
      <div class="search">
        <input v-model='searchWord' />
      </div>
      <div class="actions">
        <div class="paths">
          <div class="path" v-if="showType === 'search'">* / 搜索</div>
          <div class="path" v-else-if="showType === 'tag'">* / 标签</div>
          <div v-else class="path" v-for="path in paths" @click="pathBack(path)">
            {{path.title}}&nbsp;/&nbsp;
          </div>
        </div>
        <div class="tags">
          <div :class="selectedTag === tag ? 'active-tag' : 'tag'" v-for="tag in tags" @click="selectTag(tag)">{{tag}}</div>
        </div>
      </div>
      <div class="bookmarks">
        <div class="bookmark" v-for="bookmark in visibleBookmarks" @click="handleBookmark(bookmark)"
          data-bookmark="bookmark">
          <div class="title">
            <img class="icon" :src="'chrome://favicon/' + bookmark.url" v-if="!!bookmark.url" />
            <img class="icon" src="/image/folder.png" v-else />
            <p class="title">{{bookmark.ext.title}}</p>
          </div>
          <div class="tags">
            <div class="tag" v-for="tag in bookmark.ext.t ? bookmark.ext.t.split(',') : []">{{tag}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<script type="text/javascript" src="js/vue.js"></script>
<script type="text/javascript" src="js/main.js"></script>

</html>